{% extends 'main/header.html' %}
{% block content %}
<form id="form" style="font-family: Quicksand, sans-serif;background-color: rgba(44,40,52,0.9);width: 2500px;padding: 40px;">
    <select id="" style="color:black; width: 500px; margin-left: 120px ">
        <option>ул. Бобруйская 21</option>
    </select> <br>
    <h3 style="color: white;">Фильтр места:</h3>
    <label for="open">Открытое</label>
    <input type="checkbox" value="Открытое" id="open"> <br>
    <label for="cover">Крытое</label>
    <input type="checkbox" value="Открытое" id="cover"> <br>
    <label for="enter">Рядом со входом</label>
    <input type="checkbox" value="Открытое" id="enter"> <br>
    <label for="exit">Рядом с выездом</label>
    <input type="checkbox" value="Открытое" id="exit"> <br>
    <label for="disabled">Для инвалидов</label>
    <input type="checkbox" value="Открытое" id="disabled">
<div class="wrapper">
   <div class="places">
       {% for place, booked in places.items %}
        <div class="place {% if booked %}booked{% endif %}" data-id="{{ place }}">
           {{ place }}
           <div class="descr">
                Открытое <br>
                Возле выезда со стоянки <br>
                {% if not booked %}
                <a href="#">Забронировать</a>
               {% endif %}
           </div>
       </div>
       {% endfor %}
   </div>
</div>
{% endblock %}
</form>